.order{
    display: flex;
    justify-content: space-between;
}
.order .cart-nav{
    width: 25%;
}
.order .cart-nav h2{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}
.order .cart-nav a{
    display: block;
    color: #3D1101;
    padding: 8px;
    line-height: 1.4;
    border-bottom: 1px solid #3D1101;
}
.order .cart-nav a:hover{
    background:#3D1101;
    color: #fff;
    transition: 0.5s;
}
.order .cart-nav .active{
    background:#3D1101;
    color: #fff;
}

/* nav end */
.order .menu{
    width: 70%;
}

.order .menuHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.order .search{
    width: 75%;
    display: flex;
}
.order .search input{
    width: 92%;
    font-size: 28px;
    border: 3px solid #3D1101;
    background: transparent;
    padding: 2px;
    margin-right: -2px;
}
.order .search input:focus{
    background: white;
    border: 3px solid #000;
}
.order .search .fa-search{
    background: #3D1101;
    color: white;
    font-size: 19px;
    padding: 9px;
}
.order .search .fa-search:hover{
    cursor: pointer;
    background: #413531;
}
.order .cart{
    width: 25%;
    display: flex;
    align-items: center;
}
.order .cart a{
    color: #3D1101;
    position: relative;
    padding: 0 8px;
    font-size: 20px;
}
.order .cart a:hover{
    color: rgb(194, 50, 50);
    transition: 0.1s;
}
.order .cart a::after{
    content: '';
    right: -3px;
    top: 2px;
    height: 24px;
    width: 2px;
    background: #3d1101;
    position: absolute;
}
.order .cart .fa-shopping-cart{
    display: inline-block;
    position: relative;
    font-size: 24px;
    margin-top: 3px;
    padding: 0 8px;
    
}
.order .cart .fa-shopping-cart:hover{
    cursor: pointer;
    color: #FF5E45;
    transition: 0.3s;
}
.order .cart .fa-shopping-cart span{    
    top: -10px;
    right: -2px;
    background: #FF5E45;
    color: white;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center; 
    padding-top: 5px;
}

.order .product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order .product li{
    position: relative;
    text-align: center;
    width: 32%;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px rgb(197, 197, 197);
}
.order .product .fa-heart{
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    font-size: 24px;
}
.order .product .fa-heart:hover,
.order .product .active{
    font-weight: bold;
    cursor: pointer;
}
.order .product .sellWell-wrap{
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: -5px;
    right: -5px;
}
.order .product .sellWell{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14px;
    right: -23px;
    width: 100px;
    height: 25px;
    font-size: 14px;
    color: white;
    transform: rotate(-315deg);
    background: #00CC99;
    box-shadow: 1px 1px 8px rgb(197, 197, 197);
}
.order .product .sellWell::before{
    content:"";
    position: absolute;
    top: 25px;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 0;
    border-color: #087c5f transparent transparent transparent;
    }
.order .product .sellWell::after{
    content:"";
    position: absolute;
    top: 25px;
    right: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #087c5f transparent transparent;
    }
.order .productText h3{
    font-size: 20px;
    margin-top: 11px;
    line-height: 1.2;
}
.order .productText span{
    font-size: 12px;
}
.order .productText hr{
    width: 65%;
    height: 1px;
    border-style: none;
    background-color: #3D1101;
    margin-top: 20px;
    margin-bottom: 20px;
}
.order .productText p{
    font-size: 20px;
    margin-bottom: 16px;
}

.order .product button{
    display: inline-block;
    width: 90%;
    color: #FF5E45;
    border :2px solid #FF5E45;
    border-radius: 3px;
    margin-bottom: 15px;
}
.order .product button:hover{
    background: #FF5E45;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 560px) {
        .order{
            flex-direction: column;
        }
        .order .menu{
            width: 100%;
        }
        .order .cart-nav{
            width: 100%;
            margin-bottom: 23px;
        }
        .order .menuHeader{
            flex-direction: column;
        }
        .order .search{
            width: 100%;
            margin-bottom: 20px;
        }
        .order .cart{
            width: 100%;
            justify-content: end;
            margin-bottom: 8px;
        }
        .order .product{
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .order .product li{
            width: 100%;
        }
}