.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid #FF5E45;
    width: 33%;
    margin: 0 auto;
    padding-top: 15px;
    box-shadow: 2px 2px 5px rgb(197, 197, 197);
}
.login h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
.login .email,
.login .password{
    display: flex;
    flex-direction: column;
    width: 85%;
    position: relative;
    margin-right: 1px;
    margin-bottom: 30px;
}
.login .email input,
.login .password input{
    padding: 12px 40px;
}
.login .email .fa-envelope,
.login .password .fa-lock{
    position: absolute;
    top: 29px;
    left: 15px;
}
.login .password a{
    font-size: 18px;
    color: #FF5E45;
    margin-top: 5px;
}
.login .button{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 20px;
}
.login .button .btnReg{
    background: rgba(0,0,0,0.35);
    border-radius: 3px;
    color: #fff;
    padding: 15px 15%;
}
.login .button .btnReg:hover{
    background: #5f2607;
    transition: 0.5s;
}
.login .button .btnLogin{
    background: #F56C23;
    border-radius: 3px;
    color: #fff;
    padding: 15px 15%;
}
.login .button .btnLogin:hover{
    background: #5f2607;
    transition: 0.5s;
}
@media (max-width: 630px) {
    .login{
        width: 100%;
    }
}